<main class="container">
  <h1 class="title">Gerencie seu histórico de busca:</h1>
  <div class="content container d-flex flex-column">
    <p class="text-center">Histórico por:</p>
    <div class="flex justify-content-center align-items-center">
      <mat-tab-group class="d-flex align-items-center justify-content-center">
        <mat-tab label="Artista">
          <app-artist-history></app-artist-history>
        </mat-tab>
        <mat-tab label="Álbum">
          <app-album-history></app-album-history>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</main>
