.content {
  border: 1px solid var(--gray-300);
  background: var(--gray-900);
  padding: .875rem;
  width: 350px;
  border-radius: 8px;
  margin-bottom: .375rem;
  color: var(--gray-300);
  cursor: pointer;

  &:first-child {
    margin-top: 1rem;
  }

  .albumName {
    vertical-align: middle;
    align-self: center;

    p {
      margin: 0;
      margin-top: 2px;
    }

    span {
      font-size: .75rem;
      color: var(--gray-600);
    }
  }

  .trash_icon {
    background: var(--gray-900);
    color: var(--gray-300);
    cursor: pointer;

    &:hover {
    color: var(--pink-500);
    }
  }

  .video_icon {
    color: var(--pink-500);
  }
}

@media (max-width: 370px) {
  .content {
    max-width: 250px;
  }
}
